{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}


{% block intro %}

    {% for el in addresses %}
        <div class="intro-in">
            <div class="address">{{ el.city }}</div>
            <div class="address">{{ el.number }}</div>
        </div>
    {% endfor %}

{% endblock %}


{% block about %}

    <h1 class="title-section">Несколько слов о лучшей парикмахерской в мире</h1>
    {% for el in opisanie %}
        <div> 
            <span class="text-about">{{ el.noteAbout }}</span>
        </div>
    {% endfor %}

{% endblock %}


{% block price %}
    
    <h1 class="title-section">Прайс на услуги</h1>
    {% for el in prices %}
        <div class="text-price">
            <h3>{{ el.name }}</h3>
            <h3>{{ el.price }}</h3>
        </div>
    {% endfor %}
    
{% endblock %}

{% block atmosphere %}

    <h1 class="title-section">Работы</h1>
    <div class="space-work">
        {% for el in add_photo %}
            <div class="ad-photo">
                <div><img class="photo-works" src='{{ el.photo.url }}'></div>
            </div>
        {% endfor %}
    </div>

{% endblock %}


{% block bottom %}

        <div class="content-bottom">
            <div class="space1">
                <p class="p1">Подпишись на нас в VK и Instagram</p>
                <div>
                    <div class="subscribe-space">
                        <div class="VK"><a href="https://vk.com/public197511426"><img class="ikon-VK-Inst" src="{% static 'mainapp/img/VK.svg' %}"></a></div>
                        <div class="VK"><a href="https://www.instagram.com/house.strizhki/"><img class="ikon-VK-Inst" src="{% static 'mainapp/img/INST.svg' %}"></a></div>
                    </div>
                </div>
            </div>

            {% for el in maps %}
            <div class="map-space"><a href="https://www.google.com/maps/dir//%D0%A2%D0%B5%D0%BB%D0%B5%D0%B2%D0%B8%D0%B7%D0%B8%D0%BE%D0%BD%D0%BD%D0%B0%D1%8F+%D1%83%D0%BB.,+6%D0%92,+%D0%A7%D0%B5%D0%BB%D1%8F%D0%B1%D0%B8%D0%BD%D1%81%D0%BA,+%D0%A7%D0%B5%D0%BB%D1%8F%D0%B1%D0%B8%D0%BD%D1%81%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB.,+454091/@55.1511909,61.4052684,17z/data=!4m9!4m8!1m0!1m5!1m1!1s0x43c593ac6a459603:0xa8756afc5bf9a821!2m2!1d61.4038522!2d55.1507097!3e0?hl=ru-RU"><img class="map-picture" src="{{ el.map.url }}"></a></div>
            {% endfor %}

            {% for el in addresses %}
            <div class="space1">
                <div class="p2">{{ el.city }}</div>
                <div class="p2">{{ el.number }}</div>
            </div>
            {% endfor %}
        </div>    

{% endblock %}


{% block note %}

<div class="formitem">
    <form action="{% url 'home' %}">
        {% csrf_token %}
            <table>
                {% for service in prices %}
                    <div>{{service.as_table}}</div>
                {% endfor %}
            </table>   
        </form>
    </div>

    <div>
        <form action="{% url 'home' %}" method="post">
            {% csrf_token %}
            <table>
                {{ notes.media }}
                {{ notes.as_table }}
            </table>
        </form>
    </div>

{% endblock %}