{% extends 'mainapp/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block intro %}

    {% for el in addresses %}
        <div class="intro-in">
            <div class="address">{{ el.city }}</div>
            <div class="address">{{ el.number }}</div>
        </div>
    {% endfor %}

{% endblock %}

{% block about %}

    {% for el in opisanie %}
    <h1 class="title-section">{{ el.titleAbout }}</h1>
        <div> 
            <span class="text-about">{{ el.noteAbout }}</span>
        </div>
    {% endfor %}

{% endblock %}


{% block price %}

    {% for el in prices %}
        <h1 class="title-section">{{ titlePr }}</h1>
            <div class="text-price">
                <h3>{{ el.name }}</h3>
                <h3>{{ el.price }}</h3>
            </div>
    {% endfor %}
    
{% endblock %}

    <div>
        <h1>Работы</h1>
        {% for el in add_photo %}
            <div>
                <div>{{ el.photo }}</div>
                <span>{{ el.podpis }}</span>
            </div>
        {% endfor %}
    </div>


