{% extends 'mainapp/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block intro %}

    {% for el in addresses %}
        <div class="intro-in">
            <div class="address">{{ el.city }}</div>
            <div class="address">{{ el.number }}</div>
        </div>
    {% endfor %}

{% endblock %}

{% block about %}


        <h1 class="title-section">{{ titles.first }}</h1>

    {% for el in opisanie %}
        <div> 
            <span class="text-about">{{ el.noteAbout }}</span>
        </div>
    {% endfor %}

{% endblock %}


{% block price %}
    
    <h1 class="title-section">{{ titles.last }}</h1>

    {% for el in prices %}
        <div class="text-price">
            <h3>{{ el.name }}</h3>
            <h3>{{ el.price }}</h3>
        </div>
    {% endfor %}
    
{% endblock %}

{% block atmosphere %}

    <h1 class="title-section">Работы</h1>
    
    {% for el in add_photo %}
        <div class="ad-photo">
            <div>{{ el.photo }}</div>
        </div>
    {% endfor %}

{% endblock %}


