

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: black;
    line-height: 1.5;
    background: url('Font.png') center no-repeat fixed;
    background-size: cover;
}

*, 
*:before, 
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.title-section {
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: #2aa199 2px solid;
    font-size: 20px;
    font-weight: 600;
}

/* Container */
.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.container-works {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

/* Intro */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    z-index: 52;
}

.intro-inner {
    width: 100%;
    max-width: 1000px;
    height: auto;
    margin: 0 auto;
    margin: 30px 0;
}

.intro-address {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    top: 0;
    margin-bottom: 15px;
}

.intro-log {
    height: auto;
    max-width: 550px;
    width: 100%;
    padding-top: 20vh;
}

.img-logoHS {
    width: 100%;
    height: 100%;
}

.intro-bot {
    padding: 50px 20px 50px 0;
    display: flex;
    justify-content: flex-end;
}

.bot {
    font-size: 20px;
    font-weight: 600;
    color: black;
    left: 0;
    
}

.address {
    font-size: 15px;
    margin-right: 30px;
    color: black;
    border-bottom: white 2px solid;
    position: relative;
    text-align: center;
}

.address:nth-child(1n + 1) {
    margin-top: 15px;
}

.address:before {
    content: '';
    background-color: #2aa199;
    width: 20%;
    height: 2px;
    display: block;

    position: absolute;
    top: 100%;
}

/* Header */

.header {
    border-bottom: white solid;
    border-width: 2px;
    padding: 20px 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.header-in {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 20px;
    font-weight: 600;
    color: black;
    text-align: center;
}


.nav {
    font-size: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.nav-link {
    margin: 0 10px;
    font-weight: 300;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: black;

    position: relative;
    
    transition: color .2s linear;
}

.nav-link:after {
    content: "";
    width: 100%;
    height: 3px;
    display: block;
    background-color: #e7d6c4;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 52;

    transition: opacity .2s linear;

}

.nav-link:hover {
    color: #e7d6c4;
}

.nav-link:hover:after {
    opacity: 1;
}

.nav-link-write {
    border: none;
    color: white;
    background-color: #2aa1999f;
}

.fa-solid .fa-pencil {
    font-weight: 900;
}

.nav-fixed .nav-link-write {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 20px;
    margin-bottom: 20px;
    z-index: 1002;
}

.nav-link-write:hover {
    background-color: #228676;
}
.all-sections {
    background: rgba(255, 255, 255, 0.452);
    width: 100%;
    max-width: 1000px;
    height: auto;
    margin: 0 auto;
    padding: 30px 0;
    z-index: 999;
}

.marg-top {
    margin-top: 15vh;
}

/* About */

.about-us {
    text-align: center;
    display: block;
    justify-content: center;
}

.text-about {
    font-size: 18px;
    letter-spacing: 0.3em;
    line-height: 30px;
}

/* Price */
.section-price {
    background: #F6F6F6;
    height: 80vh;
    margin: 10vh auto;
    padding-top: 30px;
}

.price-service {
    text-align: center;
    display: block;
    justify-content: center;
}

.text-price {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.15em;
}

h3 {
    font-size: 18px;
}

/* Atmosphere */

.works-atmo {
    text-align: center;
}

.space-work {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ad-photo {
    margin: 0 20px 20px 20px;
    height: auto;
}

.photo-works {
    border-radius: 5px;
    text-align: center;
    width: 100%;
}

.ad-photo:last-child {
    margin-bottom: 20px;
}

/* Carousel atmosphere */

/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}

/* Лента слайдов */
.slick-track{
    display: flex;
    align-items: center;
}
button:active, button:focus {
    outline: none !important;
  }
button::-moz-focus-inner {
    border: 0 !important;
  }

/* Точки (булиты) */
.slick-dots{
    display: flex;
    padding: 0;
    outline: none !important;
}
.slick-dots li{
    list-style: none;
    margin: 0 10px;
    outline: none !important;
}

/* Активная точка */
.slick-dots li.slick-active button{
    border: none;
    width: 14px;
    height: 14px;
    outline: none !important;
}

/* Элемент точки */
.slick-dots li button{
    border: none;
    font-size: 0;
    border-radius: 50%;
    background-color: #2aa199;
    width: 10px;
    height: 12px;
    outline: none !important;

}

/* Carousel works */



.space-work {
    overflow: hidden;
    padding: 0 40px;
}

.space-work .slick-arrow {
    position: absolute;
    top: 40%;
    z-index: 5;
    font-size: 0;
    width: 20px;
    height: 45px;
    border: none;
    color: white;
}

.space-work .slick-arrow.slick-prev {
    left: 0;
    background: url('control_l.svg') 0 0 / 100% no-repeat;
}

.space-work .slick-arrow.slick-next {
    right: 0;
    background: url('control_r.svg') 0 0 / 100% no-repeat;
}
.space-work {
    overflow: hidden;
    padding: 0 40px;
}

/* Для фокуса на центр */
/* .ad-photo {
    opacity: 0.5;
}

.ad-photo.slick-center {
    opacity: 1;
} */



/*  */

/* Carousel about master */
.about-master .slick-arrow {
    position: absolute;
    top: 40%;
    z-index: 5;
    font-size: 0;
    width: 20px;
    height: 45px;
    border: none;
    color: white;
}

.about-master .slick-arrow.slick-prev {
    left: 0;
    background: url('control_l.svg') 0 0 / 100% no-repeat;
}

.about-master .slick-arrow.slick-next {
    right: 0;
    background: url('control_r.svg') 0 0 / 100% no-repeat;
}

/*  */

/* Bottom */

.p1 {
    color: black;
    font-size: 20px;
    font-weight: 400;
}

.p5 {
    color: black;
    font-weight: 400;
    font-size: 25px;
}

.section-bottom {
    height: auto;
    padding: 30px 0;
    background: rgba(255, 255, 255, 0.452);
    /* background: repeating-linear-gradient(45deg, #2aa199, #2aa199 20px, #eae2d3 20px, #eae2d3 50px); */
}

.content-bottom {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.subscribe-space {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.space1 {
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.space {
    margin: 20px;
}

.VK {
    margin-right: 30px;
    max-width: 50px;
    min-width: 30px;
    height: auto;
}

.ikon-VK-Inst {
    height: 100%;
    width: 100%;
    opacity: 0.7;
    transition: opacity .2s linear;
}

.ikon-VK-Inst:hover {
    opacity: 1;
}

.map-space {
    padding: 0 10px;
    max-width: 350px;
    min-width: 250px;
    height: auto;
    position: relative;
    opacity: .7;
    transition: .2s linear;
}

.map-space:hover {
    opacity: 1;
}

.map-picture {
    width: 100%;
    height: 100%;
}


.phone_num {
    color: black;
}

.logo-bot {
    font-size: 20px;
    font-weight: 600;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

/* About masters */

.text-about-master {
    letter-spacing: 0.3em;
    line-height: 30px;
    max-width: 400px;
    margin: 0;
}

.about-master {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

p {
    color: black;
}

.p2 {
    font-weight: 600;
    color: #2aa199;
}

.p3 {
    font-weight: 500;
}

.p4 {
    font-weight: 300;
}

.ad-photo-master {
    margin: 0 20px 20px 20px;
    max-width: 450px;
    text-align: center;
}

.master-in {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Затемнение */


